*~
Makefile
Makefile.in
aclocal.m4
po
m4
ABOUT-NLS
autom4te.cache
config.guess
config.log
config.status
config.sub
config.rpath
configure
depcomp
missing
include/Makefile
include/Makefile.in
install-sh
install-sh-bk
libtool
ltmain.sh
ltmain.sh-bk
dist/openpts.spec
dist/ptsc.conf
dist/ptsv.conf
doc/Makefile
doc/Makefile.in
man/Makefile
man/Makefile.in
man/man1/Makefile
man/man1/Makefile.in
man/man3/Makefile
man/man3/Makefile.in
man/man8/Makefile
man/man8/Makefile.in
models/Makefile
models/Makefile.in
src/Makefile
src/Makefile.in


